<body class="overflow-x-hidden">
  <app-navbar></app-navbar>

  <div id="inicio">
    <app-banner></app-banner>
  </div>

  <div id="sobre-mi" class="section">
    <app-about></app-about>
  </div>

  <div id="tecnologias" class="section">
    <app-technologies></app-technologies>
  </div>

  <div id="experiencia" class="section">
    <app-experience></app-experience>
  </div>

  <div id="proyectos" class="section">
    <app-proyects></app-proyects>
  </div>

  <div>
    <app-footer></app-footer>
  </div>

  <router-outlet></router-outlet>
</body>
