<div id="experiencia" class="container mx-auto p-4">
    <div class="max-w-5xl mx-auto py-10">
        <h1 class="text-3xl font-bold text-center mb-10">Experiencia</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div class="experience-card bg-white rounded-lg overflow-hidden shadow-lg relative">
                <div class="relative mb-4 overflow-hidden">
                    <div class="group">
                        <div class="absolute inset-0 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 flex items-center justify-center transition-opacity duration-300"></div>
                    </div>
                </div>

                <div class="p-6">
                    <div class="icon bg-gray-300 text-gray-700 rounded-full w-10 h-10 flex items-center justify-center mb-4">
                        <i class="fas fa-briefcase text-lg"></i>
                    </div>
                    <time class="date block text-sm text-gray-700 mt-2">Marzo 2024 - Junio 2024</time>
                    <h2 class="text-xl font-bold text-gray-800 mb-2">Desarrollador web</h2>
                    <h3 class="text-base font-medium text-gray-600 mb-2">Siscom Ingeniería SL - Prácticas</h3>
                    <div class="mb-4">
                        <p class="mb-2">
                            Optimicé y refactoricé componentes en un proyecto de React + Fluent UI para mejorar el rendimiento y la experiencia del usuario.
                        </p>
                        <p class="mb-2">
                            Rediseñé la interfaz gráfica de algunos componentes para mejorar la organización y la usabilidad.
                        </p>
                    </div>
                </div>
            </div>

            <div class="experience-card bg-white rounded-lg overflow-hidden shadow-lg relative">
                <div class="relative mb-4 overflow-hidden">
                    <div class="group">
                        <div class="absolute inset-0 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 flex items-center justify-center transition-opacity duration-300"></div>
                    </div>
                </div>

                <div class="p-6">
                    <div class="icon bg-gray-300 text-gray-700 rounded-full w-10 h-10 flex items-center justify-center mb-4">
                        <i class="fas fa-briefcase text-lg"></i>
                    </div>
                    <time class="date block text-sm text-gray-700 mt-2">Marzo 2019 - Junio 2019</time>
                    <h2 class="text-xl font-bold text-gray-800 mb-2">Técnico</h2>
                    <h3 class="text-base font-medium text-gray-600 mb-2">DALET - Prácticas</h3>
                    <div class="mb-4">
                        <p class="mb-2">
                            Utilicé Adobe Illustrator, Photoshop e InDesign para la creación y modificación de manuales técnicos de maquinaria agrícola.
                        </p>
                        <p class="mb-2">
                            Ayudé en el desarrollo de un script en Python para la generación de archivos a partir de una tabla de Excel, mejorando la eficiencia del proceso.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
